{% extends 'emacshaqiba/base.html' %}
{% load static %}

{% block body_block %}
<div class="row" align="">

<div class="container" align="center">
<a href="/"><img src="{% static "images/backpack.png" %}" alt="Haqiba"/>
      </a>
</div>
<hr>
  <div class="container" align="center">
    <p><a href="/emacshaqiba/about/" class="btn btn-primary btn-lg">About Haqiba</a></p>
  </div>

<div class="container" align="justify">
<p>This page is about <b>Haqiba</b>. The site provide easy to use Emacs config
file(s) which can be customized. The config file is ready to use with
Emacs. The configuration is tested on GNU Emacs version 24.3. It may
work on older versions but I cannot assure you that.</p>

<p>If you are new to GNU Emacs then let me tell you that it is a
powerful and easy to use text editor. It is highly customizable and
extensible editor. If you have not chosen your editor yet then give
GNU Emacs a try and you will end up using Emacs your entire life. The
basic text editing is similar to any other text editor. As a new user
you can certainly use a menu bar to perform daily tasks like cut,
copy, paste, and save. Once you get familiar with Emacs, start using
key-shortcuts and more advance features.</p>

<p>GNU Emacs has been around since 1970's and it was originally written
by <a href="http://www.stallman.org/">Richard Stallman</a>
and <a href="http://en.wikipedia.org/wiki/Guy_L._Steele,_Jr.">Guy
L. Steele, Jr</a>. Its an interpreter to Emacs Lisp, a dialect of the
<a href="http://en.wikipedia.org/wiki/Lisp_programming_language">Lisp
programming language</a>.</p>

<p>Have look at <a href="http://wenshanren.org/?p=418">Famous Emacs
Users</a>.</p>

<div class="well">
<p align="center"><strong>Some help on GNU Emacs</strong></p>
<ul>
  <li>When you start Emacs click on the link which says <em>Emacs
      Tutorial</em>. This is a self tutorial which will help you
      with moving around in Emacs.
  </li>

  <li>
    <a href="https://www.youtube.com/playlist?list=PLxj9UAX4Em-IiOfvF2Qs742LxEK4owSkr">Emacs
      Tutorials</a> - A newbie Emacs video tutorials.
  </li>

  <li>
    <a href="http://emacsrocks.com/">EmacsRocks</a> - Excellent video tutorials on Emacs.
  </li>
</ul>
</div>
</div>
</div>



{% endblock %}
