{%load static %}

<div class="nav nav-list">
  <h2>Code{{codetemplate|length|pluralize}}</h2>
  {% if codetemplate %}
  <!-- paging to be applied for below list -->
  <table id="results">
    {% for code in codetemplate %}
    <tr>
      <td>{{ forloop.counter }}. <a href="/emacshaqiba/code/{{code.id}}">{{ code.name }}</a>
	{% if code.download_count %}
	<span class="badge">{{code.download_count}}</span>
	{% endif %}</td>
    </tr>
    {% endfor %}
  </table>
  <!-- add page navigator for list here-->
  <ul class="pagination" id="unordered-list"></ul>
  {% else %}
  <p>Nothing to display.</p>
  {% endif %}

  <h2>Package{{packages|length|pluralize}}</h2>
  {% if packages %}
  <table id="results">
  {% for i in packages %}
  <tr>
    <td>{{ forloop.counter }}. <a href="/emacshaqiba/package/{{i.id}}">{{i.name}}</a>
    {% if i.download_count %}
    <span class="badge">{{i.download_count}}</span>
    {% endif %}
  </td>
    </tr>
  {% endfor %}
  </table>
  <ul class="pagination" id="unordered-list"></ul>
  {% else %}
  <p>Nothing to display.</p>
  {% endif %}

  <h2>Bundle{{bundles|length|pluralize}}</h2>
  {% if bundles %}
  <table id="results">
  {% for i in bundles %}
  <tr>
    <td>{{ forloop.counter }}. <a href="/emacshaqiba/bundle/{{i.id}}">{{i.name}}</a>
    {% if i.download_count %}
    <span class="badge">{{i.download_count}}</span>
    {% endif %}
  </td>
    </tr>
  {% endfor %}
  </table>
  <ul class="pagination" id="unordered-list"></ul>
  {% else %}
  <p>Nothing to display.</p>
  {% endif %}
</div>

<!-- pagination code starts here-->
<script src="{% static 'js/paging.js' %}"></script>
<script type="text/javascript">
        var pager = new Pager('results', 5); 
        //code before paging
        pager.init(); 
        //show page navigator
        pager.showPageNav(); 
        //show page
        pager.showPage(1);
</script>
<!-- pagination code ends here-->

{% comment %} 
to show first five codes I hv used |slice...  This can
be done in views but I don't want to alter views.  
{% endcomment %}
