{% extends 'emacshaqiba/base.html' %}
{% load static %}

{% block title %}
- Bundle - {{bundle.name}}
{% endblock title %}

{% block body_block %}
<!-- codemirror settings -->
<link rel="stylesheet" href="{% static 'codemirror-3.19/lib/codemirror.css' %}">
<link rel="stylesheet" href="{% static 'codemirror-3.19/theme/paraiso-dark.css' %}">

<script src="{% static 'codemirror-3.19/lib/codemirror.js' %}"></script>
<script src="{% static 'codemirror-3.19/mode/commonlisp/commonlisp.js' %}"></script>
<script src="{% static 'codemirror-3.19/keymap/extra.js' %}"></script>
<script src="{% static 'codemirror-3.19/addon/selection/active-line.js' %}"></script>
<script src="{% static 'codemirror-3.19/addon/edit/matchbrackets.js' %}"></script>

<style type="text/css">
  .CodeMirror {
  border: 1px solid black; 
  font-size:13px; 
  height: auto;
  width: 95%;}

  .CodeMirror-scroll {
  overflow-y: hidden;
  overflow-x: auto;
  }
</style>
<!-- code mirror settings -->

<!-- hover zoom settings -->
<script src="{% static 'js/mootools-yui-compressed.js' %}"></script>
<link rel="stylesheet" href="{% static 'css/imagezoom.css' %}">
<script src="{% static 'js/imagezoom.js' %}"></script>
<!-- hover zoom ends here -->

<!-- style ends here -->
<!-- body starts here -->
<div class="row">
<ul>
<div class="row">
  {% if bundle %}
  <div class="col-md-8">
    <div class="container">
	<h1>{{bundle.name}}</h1>
	<p class="text-muted">(Bundle)</p>
	{% if bundle.description %}
	<p class="text-success">{{bundle.description}}</p>
	{% else %}
	<p class="text-success">No description available.</p>
	{% endif %}
        <p class="text-muted"><small>by {{bundle.user}}</small></p>
	<div class="text-info">
	  <strong>Includes</strong>:
	  <ol>
	  {% for dep in bundle.dep.all %}
	  <li><a href="/emacshaqiba/package/{{dep.id}}">{{dep.name}}</a></li>
	  {% endfor%}
	  </ol>
	</div>
	<br>
	<form id="display_bundle_form" method="post">
	  {% csrf_token %}
	  <button class="btn btn-primary btn-mini">
	    <i class="glyphicon glyphicon-download"></i>
	     {{bundle.download_count}} download{{bundle.download_count|pluralize}}
	  </button>
	  <!-- <span class="badge">{{bundle.download_count}} download{{bundle.download_count|pluralize}}</span> -->
	  {% if bundle.user == user %}
	  &nbsp
	  <a href="/emacshaqiba/bundle/edit/{{bundle.id}}"
	     class="text-warning btn-sm btn-success">
	    <i class="glyphicon glyphicon-edit icon-white"></i> Edit
	  </a>
	  &nbsp
	  <a href="/emacshaqiba/bundle/delete/{{bundle.id}}"
	     class="text-danger btn-sm btn-danger">
	    <i class="glyphicon glyphicon-trash icon-white"></i> Delete
	  </a>
	  {% endif %}
	</form>
	</div>
  </div> <!-- col-md-8 -->
  <div class="col-md-4">
    {% if bundle.screenshot %}
    <div class="container">
      <a id="image_link" rel="imagezoom" href="media/{{bundle.screenshot}}" >	
	<img src="media/{{bundle.screenshot}}" height="140" width="240" class="img-thumbnail">
      </a>
    </div> <!-- image container -->
    {% else %}
      <img src="{% static 'images/no_image_available.png' %}" height="140" width="240" class="img-thumbnail">
    {% endif %}
  </div> <!-- col-md-4 -->
</div>	 <!-- row -->
</ul>
<ul>
  <small>Config</small> 
  <textarea id="id_config" name="config">{{bundle.config}}
  </textarea>
</ul>
{% else %}
<p align="center" class="text-warning">No such Bundle exist!!</p>
{% endif %}
</div>
<!-- body ends here -->

<!-- hover zoom settings -->
<script>
/* Uncomment below lines for error handling.

onerror = handleErr;
function handleErr(msg,url,l){
	alert(msg+" "+ url+" "+l);
	return true;
}
*/

/* initialize image zoom method */
initImageZoom();
</script>
<!-- hover zoom ends here -->

<!-- codemirror settings -->
<script>
  var editor = CodeMirror.fromTextArea(document.getElementById("id_config"), {
  lineNumbers: true,
  styleActiveLine: true,
  matchBrackets: true,
  readOnly: true,
  theme: "paraiso-dark",
  mode: "commonlisp",
  lineWrapping: true,
  readOnly: true,
  });
</script>
<!-- codeMirror settings ends here. -->
{% endblock body_block %}
