{% extends 'emacshaqiba/base.html' %}
{% load static %}


{% block body_block %}

<!-- codemirror settings -->
<link rel="stylesheet" href="{% static 'codemirror-3.19/lib/codemirror.css' %}">
<link rel="stylesheet" href="{% static 'codemirror-3.19/theme/paraiso-dark.css' %}">

<script src="{% static 'codemirror-3.19/lib/codemirror.js' %}"></script>
<script src="{% static 'codemirror-3.19/mode/commonlisp/commonlisp.js' %}"></script>
<script src="{% static 'codemirror-3.19/keymap/extra.js' %}"></script>
<script src="{% static 'codemirror-3.19/addon/selection/active-line.js' %}"></script>
<script src="{% static 'codemirror-3.19/addon/edit/matchbrackets.js' %}"></script>

<style type="text/css">
  .CodeMirror {
  border: 1px solid black; 
  font-size:13px; 
  height: auto;
  width: 95%;}

  .CodeMirror-scroll {
  overflow-y: hidden;
  overflow-x: auto;
  }
</style>
<!-- code mirror settings -->


<!-- style ends here -->
<div class="row">
<ul>
<div class="row">
  <div class="col-md-8">
    {% if codetemplate %}
    {% for e in codetemplate %}
	<h1>{{e.name}} </h1>
	{% if e.description %}
	<p class="text-info">{{e.description}}</p>
	{% else %}
	<p class="text-info">No description available.</p>
	{% endif %}
	<p class="text-muted"><small>by {{e.user}}</small></p>
  </div>
  <div class="col-md-4">
    {% if e.screenshot %}
    <div class="zoomed">
    <img src="media/{{e.screenshot}}" 
	     alt="{{e.screenshot}}"  
	     height="140" 
	     width="240" 
	     class="img-thumbnail" class="img-responsive">
    </div>
    {% else %}
    <p>No screenshot available.</p>
    {% endif %}
  </div>
</div>
</ul>
<ul>
  <small>Code</small>
  <textarea id="id_code" name="code">{{e.code}}
  </textarea>
</ul>

</div>


{% endfor %}
{% else %}
<h4>No such code!!</h4>
{% endif %}


<!-- codemirror settings -->
<script>
  var editor = CodeMirror.fromTextArea(document.getElementById("id_code"), {
  lineNumbers: true,
  styleActiveLine: true,
  matchBrackets: true,
  readOnly: false,
  theme: "paraiso-dark",
  mode: "commonlisp",
  lineWrapping: true,
  readOnly: true,
  });
</script>
<!-- codemirror settings -->

{% endblock body_block %}
