{% extends 'emacshaqiba/base.html' %}
{% load static %}

{% block title %}
- Package - {{package_id.name}}
{% endblock title %}

{% block body_block %}

<!-- codemirror settings -->
<link rel="stylesheet" href="{% static 'codemirror-3.19/lib/codemirror.css' %}">
<link rel="stylesheet" href="{% static 'codemirror-3.19/theme/paraiso-dark.css' %}">

<script src="{% static 'codemirror-3.19/lib/codemirror.js' %}"></script>
<script src="{% static 'codemirror-3.19/mode/commonlisp/commonlisp.js' %}"></script>
<script src="{% static 'codemirror-3.19/keymap/extra.js' %}"></script>
<script src="{% static 'codemirror-3.19/addon/selection/active-line.js' %}"></script>
<script src="{% static 'codemirror-3.19/addon/edit/matchbrackets.js' %}"></script>

<style type="text/css">
  .CodeMirror {
  border: 1px solid black; 
  font-size:13px; 
  height: 305px;}
  <!-- width: 95%;} -->

  .CodeMirror-scroll {
  overflow-y: hidden;
  overflow-x: auto;
  }
</style>
<!-- code mirror settings -->

<!-- hover zoom settings -->
<script src="{% static 'js/mootools-yui-compressed.js' %}"></script>
<link rel="stylesheet" href="{% static 'css/imagezoom.css' %}">
<script src="{% static 'js/imagezoom.js' %}"></script>
<!-- hover zoom ends here -->

<!-- style ends here -->

<!-- body starts here -->
<div class="row">
  <ul>
    <div class="row">
      {% if package_id %}
      <div class="col-md-8">
	<div class="container">
	  <h1>{{package_id.name}} </h1>
	  <p class="text-muted">(Package)</p>
	  {% if package_id.description %}
	  <p class="text-success">{{package_id.description|safe|linebreaks}}</p>
	  {% else %}
	  <p class="text-success">No description available.</p>
	  {% endif %}
	  <div class="text-info">
	  {% if package_id.tarFile %}
	  <strong>Associated file</strong>:<br />
	  <ol>
	    <li><a href="/media/{{package_id.tarFile}}">{{package_id.tarFile}}</a></li>
	  </ol>
	  {% endif %}
	  </div> <!-- text-info -->
	  <br />
	  <p class="text-muted"><small>by {{package_id.user}}</small></p>
	  <form id="display_package_form" method="post">
	    {% csrf_token %}
	    <button class="btn btn-primary btn-mini">
	      <i class="glyphicon glyphicon-download"></i>
	      {{package_id.download_count}} download{{package_id.download_count|pluralize}}
	    </button>
	    <!-- <span class="badge">{{package_id.download_count}} download{{package_id.download_count|pluralize}}</span> -->
	    {% if package_id.user == user %}
	    &nbsp
	    <a href="/emacshaqiba/package/edit/{{package_id.id}}"
	       class="text-warning btn-sm btn-success">
	      <i class="glyphicon glyphicon-edit icon-white"></i> Edit
	    </a>
	    &nbsp
	    <a href="/emacshaqiba/package/delete/{{package_id.id}}"
	       class="text-danger btn-sm btn-danger">
	      <i class="glyphicon glyphicon-trash icon-white"></i> Delete
	    </a>
	    {% endif %}
	  </form>
	</div> <!-- container -->
      </div>
      <div class="col-md-4">
	<!-- At present there are no screenshot field in Dependency model. -->
	{% if package_id.screenshot %}
	<div "container">
	  <a id="image_link" rel="imagezoom" href="media/{{package_id.screenshot}}" >	
	    <img src="media/{{package_id.screenshot}}" height="140" width="240" class="img-thumbnail">
	  </a>
	</div> <!-- image container -->
      </div> <!-- col-md-4 -->
      {% else %}
      <img src="{% static 'images/no_image_available.png' %}" height="140" width="240" class="img-thumbnail">
      {% endif %}
    </div>	 <!-- row -->
  </ul>
  {% if package_id.config %}
  <ul>
    <small>Config</small> 
    <textarea id="id_config" name="config">{{package_id.config}}
    </textarea>
  </ul>
  {% endif %}
</div>
{% else %}
<p align="center" class="text-warning">No such Package exists!!</p>
{% endif %}
<!-- body ends here -->

<!-- hover zoom settings -->
<script>
  /* Uncomment below lines for error handling.

  onerror = handleErr;
  function handleErr(msg,url,l){
  alert(msg+" "+ url+" "+l);
  return true;
  }
  */

  /* initialize image zoom method */
  initImageZoom();
</script>
<!-- hover zoom ends here -->

<!-- codemirror settings -->
<script>
  var editor = CodeMirror.fromTextArea(document.getElementById("id_config"), {
  lineNumbers: true,
  styleActiveLine: true,
  matchBrackets: true,
  readOnly: true,
  theme: "paraiso-dark",
  mode: "commonlisp",
  lineWrapping: true,
  readOnly: true,
  });
</script>
<!-- codemirror settings -->
{% endblock body_block %}
