{% extends 'emacshaqiba/base.html' %}
{% load static %}

{% block title %}
- Package - {{package_form.name.value}}*
{% endblock title %}

{% block body_block %}
<!-- codemirror settings -->
<link rel="stylesheet" 
      href="{% static 'codemirror-3.19/lib/codemirror.css' %}">
<link rel="stylesheet" 
      href="{% static 'codemirror-3.19/theme/paraiso-dark.css' %}">

<script src="{% static 'codemirror-3.19/lib/codemirror.js' %}"></script>
<script src="{% static 'codemirror-3.19/mode/commonlisp/commonlisp.js' %}">
</script>
<script src="{% static 'codemirror-3.19/keymap/extra.js' %}"></script>
<script src="{% static 'codemirror-3.19/addon/selection/active-line.js' %}">
</script>
<script src="{% static 'codemirror-3.19/addon/edit/matchbrackets.js' %}">
</script>

<style type="text/css">
  .CodeMirror {border: 1px solid black; font-size:14px;}
</style>
<!-- END code mirror settings -->

<div class="container">

  <div align="center"><h2>Edit Package</h2></div>
<div class="well">
<form role="form" id="edit-code" method="post" action=""
      enctype="multipart/form-data">
  {% csrf_token %}

  <div class="form-group">
        {{ package_form.name.errors }}
  	<label for="id_name">Name</label><br>
  	{{ package_form.name }}
  </div>
  <div class="form-group">
        {{ package_form.description.errors }}
  	<label for="id_description">Description</label><br>
  	{{ package_form.description }}
  </div>
  
  <!-- by default the checkbox get checked even it is False(beacause
  of form attrs) -->
  {% if package_form.loadpath.value %}
  <div class="form-group">
    {{ package_form.loadpath.errors }}
    {{ package_form.loadpath }}
    <label for="id_loadpath"><pre>(add-to-list 'load-path "package-path/")</pre>
    </label><br>
  </div>
  {% else %}
  <div class="form-group">
    {{ package_form.loadpath.errors }}
    <input type="checkbox" id="id_loadpath" name="loadpath" >
    <label for="id_loadpath"><pre>(add-to-list 'load-path "package-path/")</pre>
    </label><br>
  </div>
  {% endif %}
  
  <!-- by default the checkbox get checked even it is False(beacause
  of form attrs) --> {% if package_form.require.value %}
  <div class="form-group">
    {{ package_form.require.errors }}
    {{ package_form.require }}
    <label for="id_require"><pre>(require 'package-name)</pre>
    </label><br>
  </div>
  {% else %}
  <div class="form-group">
    {{ package_form.require.errors }}
    <input type="checkbox" id="id_require" name="require" >
    <label for="id_require"><pre>(require 'package-name)</pre>
    </label><br>
  </div>
  {% endif %}

  <div class="form-group">
        {{ package_form.config.errors }}
  	<label for="id_config">Config</label><br>
  	{{ package_form.config }}
  </div>
  <div class="form-group">
        {{ package_form.tarFile.errors }}
  	<label for="id_screenshot">Tarfile</label><br>
  	{{ package_form.tarFile }}
  </div>
  <div class="form-group">
        {{ package_form.screenshot.errors }}
  	<label for="id_screenshot">Screenshot</label><br>
  	{{ package_form.screenshot }}
  </div>
  <!-- {{package_form.as_p}} -->

</div>
<div align="center">
  <input class="btn btn-success" type="submit" name="submit" value="Save changes" />
  </div>
</form>
</div>
<!-- codemirror settings -->
<script>
  var editor = CodeMirror.fromTextArea(document.getElementById("id_config"), {
  lineNumbers: true,
  styleActiveLine: true,
  matchBrackets: true,
  readOnly: false,
  theme: "paraiso-dark",
  mode: "commonlisp",
  lineWrapping: true,
  });
</script>
<!-- END codemirror settings -->
{% endblock body_block %}


