{% extends 'emacshaqiba/base.html' %}
{% load static %}

{% block body_block %}
<div class="container">
  <div class="well">
  {% if codetemplate_user %}
  <table class="table table-striped table-bordered table-hover table-condensed table-responsive">
    <tr>
      <td colspan="4" align="center"><strong>Code{{codetemplate_user|length|pluralize}} submitted by you</strong></td>
    </tr>
  {% for i in codetemplate_user %}
  <tr>
    <td>{{forloop.counter}}</td>
    <td>
      <a href="/emacshaqiba/code/{{i.id}}">{{i.name}}
      </a>
    </td>
    <td align="center">
      <a href="/emacshaqiba/code/edit/{{i.id}}"
	 class="text-warning btn-sm btn-success">
	<i class="glyphicon glyphicon-edit icon-white"></i> Edit
      </a>
    </td>
     <td align="center">
      <a href="/emacshaqiba/code/delete/{{i.id}}"
	 class="text-danger btn-sm btn-danger">
	<i class="glyphicon glyphicon-trash icon-white"></i> Delete
      </a>
    </td>
  </tr>
  {% endfor %}
  </table>
  {% else %}
  No codes submitted by you.
  {% endif %}
</div>
</div>
{% endblock body_block %}


