{% extends 'emacshaqiba/base.html' %}
{% load static %}

{% block title %}
- Generate config for Emacs
{% endblock title %}

{% block body_block %}
<script>
function toggle(source) {
  checkboxes = document.getElementsByClassName('selected_list');
  for (var i=0, n=checkboxes.length; i<n; i++) {
    checkboxes[i].checked = source.checked;
  }
}

function toggle_code(source) {
  checkboxes = document.getElementsByName('selected_code_list');
  for (var i=0, n=checkboxes.length; i<n; i++) {
    checkboxes[i].checked = source.checked;
  }
}

function toggle_package(source) {
  checkboxes = document.getElementsByName('selected_package_list');
  for (var i=0, n=checkboxes.length; i<n; i++) {
    checkboxes[i].checked = source.checked;
  }
}

function toggle_bundle(source) {
  checkboxes = document.getElementsByName('selected_bundle_list');
  for (var i=0, n=checkboxes.length; i<n; i++) {
    checkboxes[i].checked = source.checked;
  }
}					  
</script>

<link href="{% static 'css/jsfiddle.css' %}" rel="stylesheet">

<div class="container" align="">
<div class="well" align="">

<form class="form-horizontal" role="form" id="download_form" method="post" 
      style="width:40%;" action="/emacshaqiba/emacs_config/">
{% csrf_token %}
<h4 class="text-warning"><strong>Code{{codetemplate|length|pluralize}}</strong>
  <label class="text-muted">
    [<input type="checkbox" onClick="toggle_code(this)"> all]
  </label>
</h4>
{% if codetemplate %}
<div id="jsfiddle">
    <div class="row">
    {% for e in codetemplate %}
    <div class="block"> 
    <label class="checkbox">
	<input class="selected_list" name="selected_code_list" type="checkbox" id={{e.id}} value={{e.name}}>
	<a class="text-success" href="/emacshaqiba/code/{{e.id}}">{{e.name}}</a>
      </label>
    </div>
    {% endfor %}
</div>
</div>
{% else %}
<p class="text-muted">No code snippets found.</p>
<input class="btn btn-primary" type="button" name="submit"
       value="Submit Code"
       onClick="window.location.href='/emacshaqiba/code/submit'"/>
{% endif %}
<hr>
<!-- code ends here -->
<h4 class="text-warning"><strong>Package{{dependency|length|pluralize}}</strong>
  <label class="text-muted">
    [<input type="checkbox" onClick="toggle_package(this)"> all]
  </label>
</h4>
{% if dependency %}
<div id="jsfiddle">
    <div class="row">
    {% for e in dependency %}
    <div class="block"> 
    <label class="checkbox">
	<input class="selected_list" name="selected_package_list" type="checkbox" id={{e.id}} value={{e.name}}>
	<a class="text-success" href="/emacshaqiba/package/{{e.id}}">{{e.name}}</a>
      </label>
    </div>
    {% endfor %}
</div>
</div>
{% else %}
<p class="text-muted">No Packages found.</p>
<input class="btn btn-primary" type="button" name="submit"
       value="Submit Package"
       onClick="window.location.href='/emacshaqiba/package/submit'"/>
{% endif %}
<hr>
<!-- dependency/package ends here -->
<h4 class="text-warning"><strong>Bundle{{bundletemplate|length|pluralize}}</strong>
  <label class="text-muted">
    [<input type="checkbox" onClick="toggle_bundle(this)"> all]
  </label>
</h4>
{% if bundletemplate %}
<div id="jsfiddle">
    <div class="row">
    {% for e in bundletemplate %}
    <div class="block"> 
    <label class="checkbox">
    <input class="selected_list" name="selected_bundle_list" type="checkbox" id={{e.id}} value={{e.name}}>
	<a class="text-success" href="/emacshaqiba/bundle/{{e.id}}">{{e.name}}</a>
      </label>
    </div>
    {% endfor %}
</div>
</div>
{% else %}
<p class="text-muted">No Bundles found.</p>
<input class="btn btn-primary" type="button" name="submit"
       value="Submit Bundle"
       onClick="window.location.href='/emacshaqiba/bundle/submit'"/>
{% endif %}

<!-- bundle ends here -->
</div> <!-- well -->
</div> <!-- container -->

<div class="container" align="">
  <div class="form-group" align="center">
    <input type="checkbox" onClick="toggle(this)"/> Toggle All <br>
    <button type="submit" class="btn btn-success">Generate & Download config</button>
  </div> 
</div>

</form>

{% endblock body_block %}

