{% extends 'emacshaqiba/base.html' %}
{% load static %}

{% block body_block %}

<script>
function toggle(source) {
  checkboxes = document.getElementsByName('selected_code_list');
  for (var i=0, n=checkboxes.length; i<n; i++) {
    checkboxes[i].checked = source.checked;
  }
}
</script>

<!-- http://jsfiddle.net/userdude/KFFgf/1/ -->
<style>
#jsfiddle {
    width: 1000%;
    max-width: 870px;
    margin: 10px auto;
    border: 0px solid black;
    padding: 10px;
}
#jsfiddle .row {
    border: 0px solid green;
    border-left: 0;
    border-top: none;
    margin: 0;
    padding: 0;
}
#jsfiddle .block {
    border: 0px solid blue;
    border-bottom: 0;
    border-right: 0;
    float: left;
    width: 200px;
}
</style>

<div class="row" align="">
<div class="container" align="">
<div class="well" align="">
{% if codetemplate %}
<form class="form-horizontal" role="form" id="download_form" method="post" 
      style="width:40%;" action="/emacshaqiba/emacs_config/">

{% csrf_token %}
<div id="jsfiddle">
    <div class="row">
    {% for e in codetemplate %}
    <div class="block"> 
    <label class="checkbox">
	<input name="selected_code_list" type="checkbox" id={{e.id}} value={{e.name}}>
	<a class="text-success" href="/emacshaqiba/code/{{e.id}}">{{e.name}}</a>
      </label>
    </div>
    {% endfor %}
</div>

</div>
</div>
</div>
<br />



<div class="container" align="">
  <div class="form-group" align="center">
    <input type="checkbox" onClick="toggle(this)"/> Toggle All <br>
    <button type="submit" class="btn btn-success">Generate & Download config</button>
  </div> 
</div>

</form>
</div> <!-- row main -->

{% else %}
<strong>Nothing to display.</strong>
<hr>
{% if user.is_authenticated %}
<input class="btn btn-primary" type="button" name="submit" value="Submit Code" 
       onClick="window.location.href='/emacshaqiba/submit_code/'"/>
{% else %}
You must 
<input class="btn btn-info" type="button" name="submit" value="Log in" 
       onClick="window.location.href='/emacshaqiba/login'"/> to
<input class="btn btn-danger" type="button" name="submit" value="Submit Code" 
       onClick="window.location.href='#'"/>
{% endif %}
{% endif %}

<!-- <p class="field switch"> -->
<!--     <label class="cb-enable"><span>On</span></label> -->
<!--     <label class="cb-disable selected"><span>Off</span></label> -->
<!--     <input type="checkbox" id="checkbox" class="checkbox" name="field2" /> -->
<!-- </p> -->

{% endblock body_block %}

<!-- {% if codetemplate %} -->
<!-- {% for e in codetemplate %} -->
<!-- <ul><h2>{{e.name}}</h2></ul> -->
<!-- <img src="media/{{e.screenshot}}" alt="{{e.screenshot}}"  height="170" width="200" class="img-thumbnail"> -->
<!-- <ul><pre class="lead">{{e.code}}</pre></ul> -->
<!-- {% endfor %} -->
<!-- {% endif %} -->


<!-- <label class="checkbox"> -->
<!--   <input name="selected_code_list" type="checkbox" id={{e.id}} value={{e.name}}>{{e.name}} -->
<!-- </label> -->
