{% extends 'emacshaqiba/base.html' %}
{% load static %}

{% block body_block %}
<div class="container" align="center">
<a href="/"><img src="{% static "images/backpack.png" %}" alt="Haqiba"/>
      </a>
</div>
<hr>
  <div class="container" align="center">
    <p><a href="/" class="btn btn-primary btn-lg">Haqiba</a></p>
    <hr>
  </div>

<div class="container" align="justify">
<p><strong>Haqiba</strong> is a <i>arabic</i> word for 'bag'.</p> 

<p>Here you can download Emacs custom configuraton file with codes and
  extensions contributed by Emacs user around the world. Some code
  snippets may be copied from another sources, in such case a
  reference will be given in code description.</p>

<p>If you are new to GNU Emacs and don't know where to start, I
  suggest you please
  visit <a href="http://www.gnu.org/software/emacs/">Emacs</a> page
  and download/install latest version of GNU Emacs. Once GNU Emacs is
  installed return to this site and click the navigation bar where it
  says
  <a href="/emacshaqiba/emacs_config">Generate Emacs config.</a></p>

<p>Visit <a href="/emacshaqiba/about">About</a> for more detail.</p>
</div>  

{% endblock body_block %}
