{% extends "emacshaqiba/base.html" %}

{% block title %}
- Profile - {{user.username}}
{% endblock title %}

{% block body_block %}
<div class="container">
<div class="row">
  <div class="col-md-6">
  <div class="well">
    <p><strong>User ID</strong> : {{userprofile.user_id}}</p>
    <p><strong>Joined on</strong> : {{user.date_joined}}</p>
    <p><strong>Last login</strong> : {{user.last_login}}</p>
    <hr>
    <p><strong>Number of Codes submitted</strong> : 
      {% if codetemplate_user|length %}
      <a href="/emacshaqiba/code/edit/">{{codetemplate_user|length}}</a>
      {% else %}
      0
      {% endif %}
    <p><strong>Number of Packages submitted</strong> : 
      {% if dependency_user|length %}
      <a href="/emacshaqiba/package/edit/">{{dependency_user|length}}</a>
      {% else %}
      0
      {% endif %}
    <p><strong>Number of Bundles submitted</strong> : 
      {% if bundle_user|length %}
      <a href="/emacshaqiba/bundle/edit/">{{bundle_user|length}}</a>
      {% else %}
      0
      {% endif %}      
      
</div>
  </div>

  <div class="col-md-6">
  <div class="well">
    <h2 align="center">{{ user.username|capfirst }}</h2>
    <hr>
      {% if userprofile %}
      {% if userprofile.picture %}
    <div class="container" align="center">
      <img src="{{ userprofile.picture.url }}" alt={{user.username}} class="img-responsive img-thumbnail"/>
      {% else %}
      No profile picture.
      {% endif %}
    </div>
    <br>
      <p><span class="glyphicon glyphicon-envelope"></span><a href="mailto:#"> {{ user.email }}</a></p>
      <p><span class="glyphicon glyphicon-globe"></span><a href="{{ userprofile.website }}"> {{userprofile.website}}</a></p>
      {% else %}
      No profile.
      {% endif %}
</div>
  </div>
</div>


</div>
{% endblock %}
