{% extends 'emacshaqiba/base.html' %}
{% load static %}

{% block title %}
- Register
{% endblock title %}

{% block body_block %}

<h1 align="center">Register with Haqiba</h1>
<div class="container" align="center">
  {% if registered %}
  <strong>Thank you for registering!</strong>
  <p><a href="/emacshaqiba/login/">Login here.</a></p>
  {% else %}
  <div class="col-lg-6 col-lg-offset-3 well">
    <form class="form-horizontal" role="form" id="user_form" method="post" action="/emacshaqiba/register/"
          enctype="multipart/form-data">
      {% csrf_token %}
      <img src="{% static "images/pencil.png" %}" alt="register"
	   width=30
	   heigth=30/>
      <h4 class="form-signin-heading">Sign up Here</h4>

      <!-- Success/Error messages -->
      {% if messages %}
      {% for message in messages %}
      {% if message.tags == "success "%}
      <p class="text-info" align="center"><strong>{{ message }}</strong></p>
      {% else %}
      <div class="alert alert-dismissable">
	<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
	<strong><p class="text-danger">{{ message }}</p></strong>
      </div>
      {% endif %}
      {% endfor %}
      {% endif %} 
      <!-- Success/Error messages ends here -->

      <!-- {% for field in user_form.visible_fields %} -->
      <!-- {% if field.errors %} -->
      <!-- <div class="alert alert-warning">One or more field is required</div> -->
      <!-- {% endif %} -->
      <!-- {% endfor %} -->


      {{ user_form.as_p }}
      {{ profile_form.as_p }}
      
      <!-- <div class="form-group" style="width:50%;"> -->
      <!-- 	<\!-- <label for="username">Username</label> -\-> -->
      <!-- 	{{ user_form.username.errors }} -->
      <!-- 	<input type="text" name="username" class="form-control" id="id_username" placeholder="Your Username."> -->
      <!-- </div> <\!-- form-group username-\-> -->
      
      <!-- Provide a button to click to submit the form. -->
      <input class="btn btn-success" type="submit" name="submit" value="Register" />
    </form>
    {% endif %}
  </div> <!-- well -->
</div>
{% endblock body_block %}
