{% extends 'emacshaqiba/base.html' %}
{% load static %}

{% block body_block %}

<!-- codemirror settings -->
<link rel="stylesheet" 
      href="{% static 'codemirror-3.19/lib/codemirror.css' %}">
<link rel="stylesheet" 
      href="{% static 'codemirror-3.19/theme/paraiso-dark.css' %}">

<script src="{% static 'codemirror-3.19/lib/codemirror.js' %}"></script>
<script src="{% static 'codemirror-3.19/mode/commonlisp/commonlisp.js' %}">
</script>
<script src="{% static 'codemirror-3.19/keymap/extra.js' %}"></script>
<script src="{% static 'codemirror-3.19/addon/selection/active-line.js' %}">
</script>
<script src="{% static 'codemirror-3.19/addon/edit/matchbrackets.js' %}">
</script>

<style type="text/css">
  .CodeMirror {border: 1px solid black; font-size:20px}
</style>
<!-- code mirror settings -->

<div class="container" align="">
<form role="form" id="submit-code" method="post" action="/emacshaqiba/submit_code/"
      enctype="multipart/form-data">
  {% csrf_token %}
  <h2>Submit your code here!</h2>

  {% if submitcode_success == "success" %}
  <div class="alert alert-success">
  <h3>Code Successfully submitted</h3>
  </div>
  {% else %}
  {% if submitcode_success == "error" %}
  <div class="alert alert-warning">
  <h3><b>Error</b>: submitting code!</h3>
  </div>
  {% endif %}
  {% endif %}
  <hr>

  <div class="form-group" style="width:55%;">
    <label for="name">Name</label>
    <input type="text" name="name" class="form-control" id="id_name" placeholder="Name of code snippet(words separated by hyphen or underscore).">
  </div> <!-- form-group name-->

  <div class="form-group" style="width:55%;">
    <label for="description">Description</label>
    <input type="text" name="description" class="form-control" 
	   id="id_description" 
	   placeholder="Type description of your code snippet here(Optional).">
  </div> <!-- form-group desc-->

  <div class="form-group" style="width:80%;">
    <label for="code">Code</label>
    <textarea type="text" name="code" class="form-control" id="id_code" 
	      placeholder="Type your code snippet here.">
      </textarea>
  </div> <!-- form-group code-->

  <div class="form-group">
    <label for="screenshot">Screenshot</label>
    <input type="file" name="screenshot" id="id_screenshot">
    <p class="help-block">Upload screenshot of your code(Optional).</p>
  </div>
  
  <input class="btn btn-success" type="submit" name="submit" 
	 value="Submit Code" />
</form>

</div> <!-- container -->

<!-- codemirror settings -->
<script>
  var editor = CodeMirror.fromTextArea(document.getElementById("id_code"), {
  lineNumbers: true,
  styleActiveLine: true,
  matchBrackets: true,
  readOnly: false,
  theme: "paraiso-dark",
  mode: "commonlisp",
  lineWrapping: true,
  });
</script>
<!-- codemirror settings -->

{% endblock body_block %}


