{% extends 'emacshaqiba/base.html' %}
{% load static %}

{% block body_block %}
<!-- codemirror settings -->
<link rel="stylesheet" 
      href="{% static 'codemirror-3.19/lib/codemirror.css' %}">
<link rel="stylesheet" 
      href="{% static 'codemirror-3.19/theme/paraiso-dark.css' %}">

<script src="{% static 'codemirror-3.19/lib/codemirror.js' %}"></script>
<script src="{% static 'codemirror-3.19/mode/commonlisp/commonlisp.js' %}">
</script>
<script src="{% static 'codemirror-3.19/keymap/extra.js' %}"></script>
<script src="{% static 'codemirror-3.19/addon/selection/active-line.js' %}">
</script>
<script src="{% static 'codemirror-3.19/addon/edit/matchbrackets.js' %}">
</script>

<style type="text/css">
  .CodeMirror {border: 1px solid black; font-size:14px}
</style>
<!-- code mirror settings -->

<div class="container" align="">
<form role="form" id="submit-code" method="post" action="/emacshaqiba/bundle/submit/"
      enctype="multipart/form-data">
  {% csrf_token %}
  <div class="container" align="center">
  <h2>Submit bundle here!</h2>
  </div>
  <div class="well">
  {% if success == "success" %}
  <div class="alert alert-success">
  <h3>Bundle Successfully submitted</h3>
  </div>
  {% else %}
  {% if success == "error" %}
  <div class="alert alert-warning">
  <h3><b>Error</b>: submitting bundle!</h3>
  </div>
  {% endif %}
  {% endif %}

  <div class="form-group" style="width:55%;">
    {{ bundletemplate_form.name.errors }}
    <label for="id_name">Name</label>
    <input type="text" name="name" class="form-control" id="id_name" 
	   placeholder="Bundle name.">
    <!-- {{ bundletemplate_form.name }} -->
  </div> <!-- form-group name-->

  <div class="form-group" style="width:80%;">
    {{ bundletemplate_form.description.errors }}
    <label for="id_description">Description</label>
    <input type="text" name="description" class="form-control" id="id_description" 
	   placeholder="Description of your bundle(Optional).">
    <!-- {{ bundletemplate_form.description }} -->
  </div> <!-- form-group desc-->

  <div class="form-group" style="width:100%;">
    {{ bundletemplate_form.deperrors }}
    <label for="id_dep">Dependency</label>
    {{ bundletemplate_form.dep }}
  </div> <!-- form-group dep-->

  <div class="form-group" style="width:100%;">
    {{ bundletemplate_form.config.errors }}
    <label for="id_config">Config</label>
    {{ bundletemplate_form.config }}
  </div> <!-- form-group config-->

  <div class="form-group">
    {{ bundletemplate_form.screenshot.errors }}
    <label for="id_screenshot">Screenshot</label>
    <input type="file" name="screenshot" id="id_screenshot">
    <p class="help-block">Upload screenshot of your code(Optional).</p>
  </div>

  </div> <!-- well -->

  <div align="center">
  <input class="btn btn-success" type="submit" name="submit" 
	 value="Submit Bundle" />
  </div>
</form>

</div> <!-- container -->

<!-- codemirror settings -->
<script>
  var editor = CodeMirror.fromTextArea(document.getElementById("id_config"), {
  lineNumbers: true,
  styleActiveLine: true,
  matchBrackets: true,
  readOnly: false,
  theme: "paraiso-dark",
  mode: "commonlisp",
  lineWrapping: true,
  });
</script>
<!-- codemirror settings -->
<!-- {{bundletemplate_form.as_p}} -->

{% endblock body_block %}


